/* CSS basics 
later styles(last rule to apply) overwrite previous styles */
* {
    box-sizing: border-box; /* includes padding and border in elements total width n height */
}

table, th, td {
    border-collapse: collapse; /* to not have double borders*/
    border: 2px solid black;
    border-color: rgb(14, 86, 25); /* this loads */
    margin: 5px; /* outside border box*/
  }

td {
    padding: 10px;
}

#potion-table-background-of-columns {
    background-color:rgb(218, 226, 218);
}

dl {
    font-variant: small-caps; /* all caps, looks cool!!*/
    text-decoration: overline; /* lines on top of dl tag*/
}

.header-container {
    border: 1px;
    border-style: solid;
    border-color: rgb(50, 26, 73);
    background-color: rgb(66, 210, 80);
    font-style: oblique;
    text-align: center;
    margin: 0px;
}

#logo-id {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.dl-container {
    background-image: url(potionimg.jpg);
    background-repeat:no-repeat;
    background-size: contain;
}

.sticky-reference {
    float: right;
    position: sticky; /* Sticks to screen while scrolling- cool */
    bottom: 500px; /* has to get it an offset */
    border: 1px black;
    z-index: 1;
}

.p-container {
    border: 2px solid black
}

#p-p {
    float: right;
    margin: none;
}

#long-p {
    width: 300px;
    height: 100px;
    overflow: scroll;
    border: inherit;
    clear: right; /* clears floating items on the right etc */
}

/* Nav Bar */
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 2px solid rgb(50, 26, 73);
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-tab, .search-input, .search-button{
    margin: 5px;
    padding: 5px;
    border: 2px solid rgb(50, 26, 73);
    border-radius: 6px; /* to make circular ish border */
}

.nav-tab-link {
    margin: 0;
    padding: 0;
    color: rgb(14, 86, 25); 
    text-decoration: none;
}

.nav-search {
    display: flex;
    align-items: center; /* align items vertically in search bar */
    margin-left: 30%;
}