/* CSS basics 
later styles(last rule to apply) overwrite previous styles */
* {
    background-color: rgb(245, 231, 245);
    position: -5;
}

table, th, td {
    border-collapse: collapse; /* to not have double borders*/
    border: 2px solid black;
    border-color: rgb(14, 86, 25); /* this loads */
    margin: 5px; /* outside border box*/
  }

td {
    padding: 10px;
}

li {
    width: 50%; /* of page */
    border-width: 1px;
    border-style: dotted;
    border-color: black;
}

.ol_class>li {
    font-weight: bold;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 110%; /* normal size*/
    line-height: 90%; /* lines are closer together*/
}

dl {
    font-variant: small-caps; /* all caps, looks cool!!*/
    text-decoration: overline; /* lines on top of dl tag*/
}

.header-container {
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: rgb(66, 210, 80);
    font-style: oblique;
    text-align: center;
    margin: 0px;
    position: sticky;
}

#img_id {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.sticky-reference {
    float: right;
    position: sticky; /* Sticks to screen while scrolling- cool */
    bottom: 500px; /* has to get it an offset */
    border: 1px black;
    z-index: 1;
}

a[target="_bottom"] {
    background-color: pink;
    font: 10px Arial, sans-serif;
}

.head-bar {
    border: 1px black;
    display: block;
}

.home {
    display: inline-block;
}


/* order matters 
hover at bottom */
a:link {
    color: blue;
}

a:visited {
    color: rgb(76, 8, 19);
}

a:hover {
    color: red;
}